body {
    background-image: url("imgs/galeri.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:100px;
}

h1 {
    margin: auto;
    font-size: 50px;
    letter-spacing: 5px;
    color: white;
}

#resimler {
    margin: auto;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

img.yeniresim {
    height: 300px;
    width:24%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

img.yeniresim:hover {
    transition: 500ms ease;
    transform: translateY(-5px);
}

.modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height:80%;
    width: auto;
 
}

.popupresmi {
    height: 100%;
    width: 100%;
}

.kapat {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.kapat:active {
    transform: scale(0.9);
}